<section class="pad bg-info">
  <div class="text-center">
    <h1>Editing Article</h1>
  </div>
  <%= render 'form' %>
  <div class="container">
    <%= link_to 'Show', @article, class: "btn btn-md btn-info pull-right" %>
    <%= link_to 'Back', articles_path, class: "btn btn-md btn-default pull-right" %>
  </div>
</section>