<div class="container">
  <div class="text-center">
    <h1>New Article</h1>
  </div>
  <%= render 'form' %>
  <div class="btn btn-default pull-right">
    <%= link_to 'Back', articles_path %>
  </div>
</div>